
html { height:100%; color:#aaa; }
body { font-family:arial, sans-serif; background:#fff; color:#aaa; }
a:hover { text-decoration:underline }

#b_import { float:left; color:#fff; margin:10px 0 0 0 }
#pdbtext { width:300px; height:50px; background:#555; border:0; overflow:hidden }

#b_controls { float:left; }

.molecule { border:solid 0 red; background:#0a0a0a; margin:0; z-index:10; position:relative; width:400px; }
.molecule .dragheader { padding:0.25em; color:#fff; }
.zcanvas { margin:0 0 -10px 0 }


.widget .close { color:#222; font-size:0.7em; position:relative; top:-1em; left:1em; margin:0 0 -1em 0; padding:0 }
.widget .close:hover { color:red }

.stats { color:#555; margin-left:3em; font-weight:normal; display:none }
.b_stats, .b_png { float:right; position:relative; bottom:-0.9em; }
.b_png a { color:#B8860B; margin-left:7px }

.button { display:inline; cursor:pointer; color:#555; background:transparent; font-size:0.9em; padding:0.5em 0.25em; position:relative; margin:-20px 0 0 0 }
.on { color:#aaa }

.touch { display:none }
.b_up, .b_down, .b_left, .b_right { position:absolute; text-align:center; cursor:pointer; width:50px; height:50px; }
.b_up { top:10px; left:175px; background:url(arrow_up.png) no-repeat; }
.b_down { top:360px; left:175px; background:url(arrow_down.png) no-repeat; }
.b_left { top:175px; background:url(arrow_left.png) no-repeat; }
.b_right { top:175px; left:365px; background:url(arrow_right.png) no-repeat; }

#colors { font-size:0.9em; position:absolute; left:650px; min-width:640px; }
#colors div { display:inline; font-weight:bold; text-align:center;
			padding:5px 5px; margin:0 5px 5px 0; width:20px;
			float:left;
			color:#fff; background:transparent;
			}

#mlist { margin-right:1em }
#mlist li { list-style-type:none; cursor:pointer; }
#mlist li:hover { color:gold }
#mlist li.hed, #mlist li.hedtop { font-weight:bold; color:#fff; cursor:default; }
#mlist li.hed { margin-top:1em }
#mlist li.hedtop { margin-top:0 }

.xbutton { color:#fff; background:#0a0;
		cursor:pointer;

        padding:0.2em 0.5em;
		font-size:0.8em;
        font-weight:bold;

		text-shadow:0 1px 0 #000;

        box-shadow: 	   2px 2px 5px #000;
        -o-box-shadow:     2px 2px 5px #000;
        -icab-box-shadow:  2px 2px 5px #000;
        -khtml-box-shadow: 2px 2px 5px #000;
        -moz-box-shadow:   2px 2px 5px #000;
        -webkit-box-shadow:2px 2px 5px #000;

        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
}

.clr { clear:both }
.warning { color:#b00 }
#log { display:none; color:lime; background:#0a0a0a; font-family:trebuchet ms; width:50%; position:absolute; left:150px; top:685px }